.button {
  appearance: none;
  background-color: #fff;
  padding: var(--btn-padding-vertical) var(--btn-padding-horizontal);
  border: solid 1px #000;
  border-radius: var(--btn-border-radius);

  &:disabled {
    cursor: default;
  }
}
