.settings {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &__btn {
    @extend .button;
    position: relative;
    background-color: #fff;
    z-index: 1;
  }

  &__options {
    margin-top: 7px;
    width: 100%;
    visibility: hidden;
    opacity: 0.3;
    position: absolute;
    top: 100%;
    border-radius: var(--btn-border-radius);
    box-shadow: var(--box-shadow-1);
    transform: translateY(-50%);
    // Handle hover intent: the delay prevents the
    // dropdown from appearing for "drive-by" mouseovers.
    transition: all 100ms 200ms ease-out;

    .settings:hover &,
    .settings:focus-within & {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__options > li {
    background-color: #fff;
    border-width: 1px;
    text-align: center;

    &:first-child {
      border-radius: var(--btn-border-radius) var(--btn-border-radius) 0 0;
    }

    &:last-child {
      border-radius: 0 0 var(--btn-border-radius) var(--btn-border-radius);
    }
  }

  &__options > li:first-child > a {
    border-radius: var(--btn-border-radius) var(--btn-border-radius) 0 0;
  }

  &__options > li:last-child > button {
    border-radius: 0 0 var(--btn-border-radius)s var(--btn-border-radius)s;
  }

  &__options > li > * {
    display: inline-block;
    padding: var(--btn-padding-vertical) calc(var(--btn-padding-horizontal) / 2);
    width: 100%;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      outline: none;
      background-color: lightgray;
    }
  }
}
