.hidden {
  display: none;
}

.desktop-only {
  @include media(medium) {
    & {
      display: none !important;
    }
  }
}

.mobile-only {
  @include media(medium, min) {
    & {
      display: none !important;
    }
  }
}
