$max-content-width: 70rem;

body {
  padding: 1rem;
  margin-inline: auto;
  width: 70%;
  max-width: $max-content-width;
  font-family: var(--font-family-main);

  @include media(large) {
    & {
      width: 100%;
      max-width: 100%;
    }
  }
}
