.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:focus {
    outline: none;
  }

  &__logo {
    font-size: var(--font-size-4);
  }

  &__settings {
    @extend .settings;
  }
}
